.mainContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd"
    "content content"
    "ft ft";
}

.contentWrapper {
  grid-area: content;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-image: url(https://baseballcloud-front.herokuapp.com/e2b853b6994b3e23d56d2dc1139f8d75.png);
  background-position: top center;
  background-size: cover;
}
