html {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  background-color: #cbcccd;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.h3,
h3 {
  font-size: 24px;
}
